.style-switcher
{
    position: fixed;
    right: 0;
    top: 60px;
    padding: 15px;
    width: 200px;
    border: 1px solid var(--bg-black-50);
    background: var(--bg-black-100);
    z-index: 101;
    border-radius: 5px;
    transition: all 0.3s ease;
    transform: translateX(100%);
}
.style-switcher.open
{
    transform: translateX(-25px);
}
.style-switcher .s-icon
{
    position: absolute;
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 20px;
    background: var(--bg-black-100);
    color: var(--text-black-900);
    right: 100%;
    border: 1px solid var(--bg-black-50);
    margin-right: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 50%;
}
/* arrows */
.swiper-button-next,
.swiper-button-prev {
    color: var(--skin-color);
}

body.dark .swiper-button-next,
body.dark .swiper-button-prev {
    color: var(--skin-color);
}

/* pagination dots */
.swiper-pagination-bullet {
    background: var(--skin-color);
}

.style-switcher .s-icon i
{
    line-height: 40px;
}
.style-switcher .style-switcher-toggler
{
    top: 0;
}
/* DARK MODE FIX */
body.dark .service-item-inner {
    background: var(--bg-black-100);
    color: var(--text-black-900);
}

body.dark .service-item-inner h4,
body.dark .service-item-inner p {
    color: #fff; /* tulisan jadi putih */
}

body.dark .s-icon i {
    color: var(--skin-color); /* icon mengikuti warna tema */
}
/* LIGHT MODE ICON */
.service-item-inner .s-icon i {
    color: var(--skin-color);
}

.style-switcher .day-night
{
    top: 55px;
}
.style-switcher h4
{
    margin: 0 0 10px;
    color: var(--text-black-700);
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
}
.style-switcher .colors
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.style-switcher .colors span
{
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid red;
}
.style-switcher .color-1
{
    background: #ec1839;
}
.style-switcher .color-2
{
    background: #fa5b0f;
}
.style-switcher .color-3
{
    background: #37b182;
}
.style-switcher .color-4
{
    background: #1854b4;
}
.style-switcher .color-5
{
    background: #f021b2;
}
.s-icon {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 2px solid var(--skin-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.35s ease;
}

.s-icon:hover {
    background: var(--skin-color);
    transform: scale(1.15);
    box-shadow: 0 0 15px var(--skin-color);
}

.s-icon:hover i {
    color: #fff !important;
}
